Repository woowa-techcamp-2022/web-moneybook-10, pull requests merged in 2022-07, with the labels that each got.

#3 [Chore] FE 프로젝트 초기설정
  frontend/.eslintrc
  frontend/.gitignore
  frontend/.gitmessage
  frontend/.prettierrc
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Labels: frontend, setup

#4 [Chore] BE 초기 설정
  .gitignore
  .gitmessage
  .prettierignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/index.js
  frontend/package-lock.json
  frontend/package.json
Labels: backend, setup

#12 [Feat / BE] DB 연결 및 History Controller Test Code 작성
  backend/package-lock.json
  backend/src/app.js
  backend/src/constant/environments.js
  backend/src/constant/queries.js
  backend/src/controllers/history.controller.js
  backend/src/controllers/historyController.js
  backend/src/db/index.js
  backend/src/routes/historyRouter.js
  backend/src/services/history.service.js
  backend/src/utils/asyncHandler.js
Labels: db, backend, feature

#16 [Feat / FE] Router 생성 및 연결
  frontend/src/app.js
  frontend/src/routes/index.js
  frontend/src/utils/customEvent.js
Labels: frontend, feature

#17 [Feat / FE] Observer Pattern을 통한 Store 생성 및 dummy data 연결
  frontend/public/index.html
  frontend/src/core/store.js
  frontend/src/index.js
  frontend/src/store/dateState.js
  frontend/src/styles/global.css
  frontend/src/styles/reset.css
Labels: frontend, feature

#21 [Feat / BE] 백엔드 MVC 패턴구현 및 쿼리문 작성
  backend/src/constant/queries.js
  backend/src/controllers/analytics.controller.js
  backend/src/controllers/analyticsController.js
  backend/src/controllers/detailController.js
  backend/src/controllers/history.controller.js
  backend/src/controllers/payment.controller.js
  backend/src/controllers/paymentController.js
  backend/src/routes/analytics.router.js
  backend/src/routes/analyticsRouter.js
  backend/src/routes/apiRouter.js
  backend/src/routes/detailRouter.js
  backend/src/routes/history.router.js
  backend/src/routes/historyRouter.js
  backend/src/routes/payment.router.js
  backend/src/routes/paymentRouter.js
  backend/src/services/analytics.service.js
  backend/src/services/history.service.js
  backend/src/services/payment.service.js
  backend/src/utils/dbHandler.js
  backend/src/utils/trxListConvertMap.js
Labels: db, bugfix, backend, feature

#22 [Feat / FE] dom handler 생성 및 관련 로직 변경
  frontend/src/app.js
  frontend/src/components/Header/DateIndicator.js
  frontend/src/components/Header/index.js
  frontend/src/core/component.js
  frontend/src/core/svg.js
  frontend/src/pages/history.js
  frontend/src/utils/customEventHandler.js
  frontend/src/utils/domHandler.js
Labels: refactoring, cleanup, frontend, feature

#25 [Feat/ FE] Store 로직 변경 및 Input Form 생성
  frontend/public/closeIcon.svg
  frontend/public/downArrowIcon.svg
  frontend/src/components/Button/index.js
  frontend/src/components/DropDown/CategoryList.js
  frontend/src/components/DropDown/PaymentList.js
  frontend/src/components/DropDown/index.js
  frontend/src/components/Header/DateIndicator.js
  frontend/src/components/Header/Navigation.js
  frontend/src/components/Header/index.js
  frontend/src/components/HistoryInputForm/DateItem.js
  frontend/src/components/HistoryInputForm/DirectionItem.js
  frontend/src/components/HistoryInputForm/InputItem.js
  frontend/src/components/HistoryInputForm/SelectItem.js
  frontend/src/components/HistoryInputForm/index.js
  frontend/src/core/store.js
  frontend/src/dummy/index.js
  frontend/src/pages/history.js
  frontend/src/routes/index.js
  frontend/src/store/dateState.js
  frontend/src/store/eventState.js
  frontend/src/store/historyState.js
  frontend/src/styles/global.css
  frontend/src/styles/header.css
  frontend/src/styles/main.css
  frontend/src/styles/reset.css
  frontend/src/utils/dateHandler.js
Labels: design, refactoring, frontend, feature

#26 [Feat/ BE] 미구현된 api 구현
  backend/src/constant/queries.js
  backend/src/controllers/analytics.controller.js
  backend/src/controllers/history.controller.js
  backend/src/routes/analytics.router.js
  backend/src/routes/history.router.js
  backend/src/services/analytics.service.js
  backend/src/services/history.service.js
Labels: backend, feature

#28 [Feat / FE] Payment Item Delete, Create Modal 생성
  frontend/babel.config.js
  frontend/package.json
  frontend/src/components/Button/index.js
  frontend/src/components/DropDown/CategoryList.js
  frontend/src/components/DropDown/PaymentList.js
  frontend/src/components/HistoryInputForm/SelectItem.js
  frontend/src/components/HistoryInputForm/index.js
  frontend/src/components/Modal/PaymentModalForm.js
  frontend/src/components/Modal/index.js
  frontend/src/dummy/index.js
  frontend/src/store/historyState.js
  frontend/src/store/isOpenModalState.js
  frontend/src/store/paymentState.js
  frontend/src/styles/global.css
  frontend/src/styles/history.css
  frontend/src/styles/main.css
  frontend/src/styles/modal.css
  frontend/src/utils/checkFormValidation.js
Labels: design, frontend, feature

#30 [Feat / FE] MainPage HistoryList Component 생성
  frontend/src/components/CategoryTag/category.css
  frontend/src/components/CategoryTag/index.js
  frontend/src/components/DropDown/CategoryList.js
  frontend/src/components/HistoryInputForm/DateItem.js
  frontend/src/components/HistoryInputForm/DirectionItem.js
  frontend/src/components/HistoryInputForm/InputItem.js
  frontend/src/components/HistoryInputForm/index.js
  frontend/src/components/HistoryListBox/HistoryItem.js
  frontend/src/components/HistoryListBox/index.js
  frontend/src/components/HistoryListSection/CheckBox.js
  frontend/src/components/HistoryListSection/HistoryList.js
  frontend/src/components/HistoryListSection/HistoryListHeader.js
  frontend/src/components/HistoryListSection/index.js
  frontend/src/components/Modal/PaymentModalForm.js
  frontend/src/core/component.js
  frontend/src/dummy/index.js
  frontend/src/pages/history.js
  frontend/src/store/checkedDirectionState.js
  frontend/src/store/historyState.js
  frontend/src/styles/header.css
  frontend/src/styles/history.css
  frontend/src/styles/main.css
  frontend/src/utils/dateHandler.js
Labels: design, frontend, feature

#31 [Feat / FE] 꺾은선 그래프 구현
  backend/src/constant/queries.js
  backend/src/controllers/history.controller.js
  backend/src/utils/trxListConvertMap.js
  frontend/src/components/LineGraph/index.js
  frontend/src/components/LineGraph/style.css
  frontend/src/constants/category.js
  frontend/src/constants/lineGraph.js
  frontend/src/core/svg.js
  frontend/src/pages/analytics.js
  frontend/src/styles/analytics.css
  frontend/src/utils/lineGraphUtils.js
Labels: bugfix, refactoring, backend, frontend, feature

#38 [Feat / FE] 그래프 관련 레이아웃 구현 및 리팩토링
  frontend/src/components/DoughnutChart/CategoryRankingList.js
  frontend/src/components/DoughnutChart/DoughnutChart.js
  frontend/src/components/DoughnutChart/index.js
  frontend/src/components/DoughnutChart/style.css
  frontend/src/components/LineGraph/index.js
  frontend/src/components/LineGraph/style.css
  frontend/src/constants/doughnutChart.js
  frontend/src/constants/lineGraph.js
  frontend/src/pages/analytics.js
  frontend/src/store/analyticsState.js
  frontend/src/store/doughnutState.js
  frontend/src/styles/global.css
  frontend/src/utils/doughnutGraphUtils.js
  frontend/src/utils/lineGraphUtils.js
Labels: cleanup, frontend, feature

#37 [Feat / FE] Main Page API 관련 로직 작성
  backend/src/app.js
  backend/src/constant/queries.js
  backend/src/controllers/history.controller.js
  backend/src/services/history.service.js
  frontend/src/apis/history.js
  frontend/src/apis/index.js
  frontend/src/apis/payment.js
  frontend/src/components/Button/index.js
  frontend/src/components/CategoryTag/category.css
  frontend/src/components/DropDown/PaymentList.js
  frontend/src/components/Header/DateIndicator.js
  frontend/src/components/Header/Navigation.js
  frontend/src/components/Header/index.js
  frontend/src/components/HistoryInputForm/InputItem.js
  frontend/src/components/HistoryInputForm/index.js
  frontend/src/components/HistoryListBox/HistoryItem.js
  frontend/src/components/HistoryListBox/index.js
  frontend/src/components/HistoryListSection/CheckBox.js
  frontend/src/components/HistoryListSection/HistoryList.js
  frontend/src/components/HistoryListSection/HistoryListHeader.js
  frontend/src/components/HistoryListSection/index.js
  frontend/src/components/Modal/PaymentModalForm.js
  frontend/src/components/Modal/index.js
  frontend/src/components/Spinner/index.js
  frontend/src/components/Spinner/spinner.css
  frontend/src/constants/category.js
  frontend/src/constants/date.js
  frontend/src/constants/direction.js
  frontend/src/constants/history.js
  frontend/src/constants/modal.js
  frontend/src/core/store.js
  frontend/src/dummy/index.js
  frontend/src/pages/history.js
  frontend/src/routes/index.js
  frontend/src/store/checkedDirectionState.js
  frontend/src/store/eventState.js
  frontend/src/store/historyState.js
  frontend/src/store/isOpenModalState.js
  frontend/src/store/paymentState.js
  frontend/src/styles/global.css
  frontend/src/styles/header.css
  frontend/src/styles/history.css
  frontend/src/styles/main.css
  frontend/src/styles/reset.css
  frontend/src/utils/customEventHandler.js
  frontend/src/utils/dateHandler.js
  frontend/src/utils/domHandler.js
  frontend/src/utils/getHistoryListByDirection.js
  frontend/src/utils/getQueryParams.js
  frontend/src/utils/getSumByDirection.js
Labels: frontend, feature

#42 [Feat / FE] Calendar Page 생성 및 css 파일 분리
  .gitignore
  frontend/package.json
  frontend/src/components/Calendar/CalendarFooter.js
  frontend/src/components/Calendar/CalendarHeader.js
  frontend/src/components/Calendar/CalendarItem.js
  frontend/src/components/Calendar/calendar.css
  frontend/src/components/Calendar/index.js
  frontend/src/components/DropDown/CategoryList.js
  frontend/src/components/Header/DateIndicator.js
  frontend/src/components/Header/header.css
  frontend/src/components/Header/index.js
  frontend/src/components/HistoryInputForm/form.css
  frontend/src/components/HistoryInputForm/index.js
  frontend/src/components/HistoryListSection/history.css
  frontend/src/components/HistoryListSection/index.js
  frontend/src/components/Modal/PaymentModalForm.js
  frontend/src/components/Modal/index.js
  frontend/src/components/Modal/modal.css
  frontend/src/constants/category.js
  frontend/src/dummy/index.js
  frontend/src/pages/calendar.js
  frontend/src/pages/history.js
  frontend/src/routes/index.js
  frontend/src/store/eventState.js
  frontend/src/styles/global.css
  frontend/src/utils/dateHandler.js
  frontend/src/utils/getCalendar.js
Labels: design, cleanup, feature

#43 [Feat / FE] 결제내역 수정/삭제를 위한 Modal 생성
  frontend/src/apis/history.js
  frontend/src/components/DropDown/CategoryList.js
  frontend/src/components/HistoryInputForm/SelectItem.js
  frontend/src/components/HistoryInputForm/form.css
  frontend/src/components/HistoryInputForm/index.js
  frontend/src/components/HistoryListSection/HistoryList.js
  frontend/src/components/Modal/HistoryItemModal.js
  frontend/src/components/Modal/PaymentModalForm.js
  frontend/src/components/Modal/index.js
  frontend/src/components/Modal/modal.css
  frontend/src/index.js
  frontend/src/utils/checkValidByDataToData.js
  frontend/webpack.config.js
Labels: design, frontend, feature

#44 [Feat / FE] /analytics 페이지 완성
  backend/src/constant/queries.js
  backend/src/controllers/analytics.controller.js
  backend/src/routes/analytics.router.js
  backend/src/services/analytics.service.js
  backend/src/utils/dateUtil.js
  frontend/src/apis/analytics.js
  frontend/src/components/AnalyticsListSection/index.js
  frontend/src/components/DoughnutChart/CategoryRankingList.js
  frontend/src/components/DoughnutChart/DoughnutChart.js
  frontend/src/components/DoughnutChart/index.js
  frontend/src/components/DoughnutChart/style.css
  frontend/src/components/HistoryListBox/index.js
  frontend/src/components/HistoryListSection/HistoryList.js
  frontend/src/components/LineGraph/index.js
  frontend/src/constants/analytics.js
  frontend/src/constants/doughnutChart.js
  frontend/src/constants/lineGraph.js
  frontend/src/pages/analytics.js
  frontend/src/store/analyticsState.js
  frontend/src/utils/dateHandler.js
  frontend/src/utils/lineGraphUtils.js
Labels: bugfix, backend, frontend, feature

#45 [Feat / DevOps] 배포 설정
  backend/package.json
  backend/src/app.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/index.js
  frontend/src/components/AnalyticsListSection/index.js
  frontend/src/components/Calendar/CalendarFooter.js
  frontend/src/constants/environment.js
  frontend/src/utils/dateHandler.js
  frontend/webpack.config.js
Labels: release, feature

#47 feat: 무중단 배포를 위한 pm2 설정
  backend/package-lock.json
  backend/package.json
Labels: release, backend
